body {
    text-align: center;
    padding-top: 800px;
}
#Coding {
    margin-top:200px;
    width: 175px;
    margin-bottom: 0px;
    border-radius: 50%;
}
#welcome {
    position: absolute;
    height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#fc1303 0%,#f3ff14 100%)
}
#Bio {
    padding: 50px;
    font-size: 25px;
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: auto;
}
#S {
    margin-bottom:100px;
}
#Bio {
    background-color: aqua;
}
.menu {
    position: fixed;
    cursor: pointer;
    z-index: 10;
    list-style: none;
    font-family: fantasy;
    top: 10px;
    right: 130px;
}
.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
}
.links:hover{
    font-size: 25;
    background-color: dodgerblue;
}